.WrapperTitle {
  width: 100%;
  max-width: 400px;
  margin: 32px auto 0px auto;
}
.Title {
  margin-bottom: 24px;
  display: inline-block;
}
.WrapperInputs,
.WrapperResult {
  width: 100%;
  max-width: 400px;
  margin: 0px auto 16px auto;
}

.Label {
  display: block;
  margin: 0px 0px 8px 0px;
}

.ContainerInputs,
.ContainerResult {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 24px;
  border-radius: 4px;
}
.ContainerResult h2 {
  margin-bottom: 24px;
}
.ContainerInputCity {
  display: flex;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 16px;
}
.ContainerInputCity button {
  height: 46px;
  border: 1px solid orange;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: orange;
  color: #fff;
  padding: 0px 32px;
}
.ContainerInputCity input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ContainerLocationOption {
  display: flex;
}
.ContainerLocationOption p,
.ContainerLocationOption button {
  font-size: 12px;
}
.ContainerLocationOption button {
  background: none;
  border: none;
  color: orange;
  margin-left: 4px;
  text-decoration: underline;
}

.WeatherInfoContainer {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 16px;
  padding-bottom: 16px;
}
.WeatherInfoContainer img {
  flex: 1;
}
.WeatherDateTempContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 8;
  color: #2b2b2b;
}
.WeatherDateTempContainer h6 {
  font-weight: 400;
  margin: 4px 0px 0px;
  display: block;
}

.MinMaxTempContainer {
  display: flex;
  font-size: 12px;
  margin: 4px 0px;
}
.MinMaxTempContainer p + p {
  margin-left: 8px;
}

.CityOptionButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  padding: 16px 16px;
  font-size: 14px;
  border-radius: 4px;
  margin: 0px -16px;
}
.CityOptionButton:hover {
  background: rgba(0, 0, 0, 0.03);
}

.HeaderResult {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.CleanButton {
  position: absolute;
  top: 4px;
  right: 4px;
  background: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
.CleanButton:hover {
  opacity: 1;
}
