.WrapperTitle {
  width: 100%;
  max-width: 400px;
  margin: 32px auto 0px auto;
}
.Title {
  margin-bottom: 24px;
  display: inline-block;
}
.WrapperInputs,
.WrapperResult {
  width: 100%;
  max-width: 400px;
  margin: 0px auto 16px auto;
}

.Label {
  display: block;
  margin: 0px 0px 8px 0px;
}

.ContainerInputs,
.ContainerResult {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 24px;
  border-radius: 4px;
}
.ContainerInputCity {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}
.ContainerInputCity button {
  height: 46px;
  border: 1px solid orange;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: orange;
  color: #fff;
  padding: 0px 32px;
}
.ContainerInputCity input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ContainerLocationOption {
  display: flex;
}
.ContainerLocationOption p,
.ContainerLocationOption button {
  font-size: 12px;
}
.ContainerLocationOption button {
  background: none;
  border: none;
  color: orange;
  margin-left: 4px;
  text-decoration: underline;
}
